<header>
    <div class="main-header">
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="./images/logo-mercado-liebre.svg" alt="logo de mercado liebre"></a>
            </div>
            <div class="form-space">
                <form class="form" action="#" method="GET">
                    <input type="text" placeholder="Busca Productos, marcas y más...." name="search" id="search-bar">
                    <button class="search-submit-button" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <nav>
            <ul class="products-nav">
                <li><a href="">Categorías</a></li>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Historial</a></li>
                <li><a href="">Supermercado</a></li>
                <li><a href="">Moda</a></li>
                <li><a href="">Vender</a></li>
            </ul>
            <ul class="users-nav">
                <li><a href="./register">Crea tu cuenta</a></li>
                <li><a href="./login">Ingresa</a></li>
                <li><a href="#">Mis compras</a></li>
                <li><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>
    </div>
    </header>